[project]
	description = Created a custom linux shell in C as part of my operating systems project. Supports commands, piping and command history
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tanay Deshmukh (cybergla)
[access "refs/for/refs/*"]
	read = group user/Tanay Deshmukh (cybergla)
	push = group user/Tanay Deshmukh (cybergla)
	label-Code-Review = -2..+2 group user/Tanay Deshmukh (cybergla)
	label-Verified = -1..+1 group user/Tanay Deshmukh (cybergla)
	rebase = group user/Tanay Deshmukh (cybergla)
	removeReviewer = group user/Tanay Deshmukh (cybergla)
	submit = group user/Tanay Deshmukh (cybergla)
[access "refs/heads/*"]
	read = group user/Tanay Deshmukh (cybergla)
	create = group user/Tanay Deshmukh (cybergla)
	push = +force group user/Tanay Deshmukh (cybergla)
	pushMerge = group user/Tanay Deshmukh (cybergla)
[access "refs/tags/*"]
	push = +force group user/Tanay Deshmukh (cybergla)
	pushTag = group user/Tanay Deshmukh (cybergla)
	pushSignedTag = group user/Tanay Deshmukh (cybergla)
